body {
  font-family: "Poppins", sans-serif;
  background-color: #eeee;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* GENERAL CLASSES */

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 6.4em;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.text-center {
  text-align: center;
}

/* HEADER STYLE */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/rory-hennessey-PBrovES5uuI-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 26em 0;
  position: relative;
}
li {
  font-size: 1.4em;
}
header h1,
header h2,
header h4,
header a {
  line-height: 1.5;
  margin: 0;
}

header h1 {
  font-size: 9.6em;
  font-weight: 700;
}

header h2 {
  font-weight: 900;
  font-size: 2.4em;
  letter-spacing: 0.5em;
}
header h4 {
  font-weight: 200;
  font-size: 4em;
}

header a {
  font-weight: 700;
  font-size: 1.4em;
  text-align: center;
  color: #272044;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  padding: 1.6em 3.2em;
  border-radius: 5px;
  display: inline-block;
  margin-top: 3.2em;
  transition: all 160ms ease-in-out;
}
header a:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.icon {
  font-size: 2em;
}
.navbar-nav {
  font-weight: 300;
}

.scroll-down {
  height: 5em;
  width: 3em;
  border: 2px solid white;
  position: absolute;
  bottom: 10%;
  left: 50%;
  border-radius: 50px;
  cursor: pointer;
  transform: translate(-50%, 0);
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 1em;
  width: 1em;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

/* END OF HEADER STYLING */

/* MAIN SECTION STYLING */

main {
  background-color: white;
}
main h2,
main h5 {
  line-height: 1;
  margin: 0;
}

main h2 {
  font-size: 3.6em;
  text-align: center;
  color: #b5b5b5;
  padding: 3em 0 2em 0;
  font-weight: 200;
}
main h3,
main h4 {
  line-height: 1.5;
}

main h3 {
  font-weight: 700;
  font-size: 4em;
  color: #272044;
  margin-bottom: 1em;
  transition: all 160ms ease-in-out;
}
main h3:hover {
  color: #ca2d00;
}
main h4 {
  font-weight: 700;
  font-size: 1.6em;
  letter-spacing: 0.5em;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
  margin-bottom: 1.2em;
  border-bottom: 1px solid grey;
  max-width: 70%;
}
main h5 {
  font-weight: 700;
  font-size: 1.3em;
  color: #272044;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1.7;
  color: #272044;
  opacity: 0.7;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 5em 10em;
}
.secondary {
  background: #f8f8f8;
}

.secondary h2,
.gallery h2 {
  padding: 1.5em;
}

.secondary h3 {
  padding-bottom: 1em;
}

.lastSection {
  padding-bottom: 3.5em;
}

.mainSectionPhoto {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.mainSectionPhoto:hover {
  transform: scale(1.1);
}
.card {
  background: white;
}

.card-header.grid {
  grid-gap: 0;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.card-body {
  padding: 3em;
}

.card-footer {
  padding: 2em;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 1.4em;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding: 1.6em;
  background-color: #363e41;
  text-decoration: none;
  transition: all 160ms ease-in-out;
}

.btn:hover {
  border: 1px solid grey;
}

/* END OF MAIN SECTION STYLING */

/* FOOTER STYLING */

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/iceland-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 2em;
  line-height: 1.5;
}

footer p {
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1.5;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}
.author {
  margin-top: 2em;
  opacity: 0.5;
}

/* END OF FOOTER STYLING */
@media (max-width: 1250px) {
  .grid-3-columns {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 960px) {
  header {
    padding: 18em 0;
  }

  header h1 {
    font-size: 4.8em;
  }
  header h2 {
    font-size: 1.2em;
  }

  header h3 {
    font-size: 2.4em;
  }

  header a {
    padding: 1em 1.2em;
    font-size: 1em;
  }

  main > h2 {
    font-size: 2.8em;
  }
  section {
    padding: 4em 6em;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 3.2em;
  }

  .aboutContainer {
    flex-direction: column;
  }

  .aboutText {
    order: 1;
    text-align: center;
  }

  .aboutPhoto {
    order: 2;
  }

  .aboutContainer img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
  }

  .aboutContainer h4 {
    text-align: center;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
@media (max-width: 400px) {
  header {
    padding: 14em 0 6em 0;
  }
  header h1 {
    font-size: 3.2em;
  }
  header h4 {
    font-size: 2.4em;
    letter-spacing: 0.2em;
  }
  main h2 {
    padding: 3em 2em 2em 2em;
    font-size: 2.4em;
  }
  main h3 {
    font-size: 2.7em;
    padding-top: 1em;
  }
  main h4 {
    display: block;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 2em;
  }
  main p {
    font-size: 1.4em;
  }
  section.secondary {
    padding: 1em 3em;
  }

  section.gallery {
    padding: 0;
  }
  footer p {
    font-size: 1.4em;
  }
  footer .aboutMe {
    display: none;
  }
  .container {
    padding: 0;
  }
  .scroll-down {
    display: none;
  }
  .aboutContainer > section {
    padding: 2em 4em;
  }
  .autor {
    font-size: 1.2em;
  }
}
