body {
  font-family: "Poppins", sans-serif;
  background-color: #eeee;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.text-center {
  text-align: center;
}

.navbar-nav {
  font-weight: 300;
}

/* HEADER STYLE */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/rory-hennessey-PBrovES5uuI-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 260px 0;
}
header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
header h4 {
  font-weight: 200;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 32px;
  transition: all 160ms ease-in-out;
}
header a:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.icon {
  font-size: 23px;
}

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid white;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

/* END OF HEADER STYLING */

/* MAIN SECTION STYLING */

main {
  background-color: white;
}

main h2 {
  font-size: 36px;
  margin: 0;
  line-height: 1;
  text-align: center;
  color: #b5b5b5;
  padding: 60px 0 40px 0;
  font-weight: 200;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin-bottom: 20px;
  transition: all 160ms ease-in-out;
}
main h3:hover {
  color: #ca2d00;
}
main h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
  max-width: 70%;
}
main h5 {
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  line-height: 1;
  color: #272044;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #272044;
  opacity: 0.7;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 100px;
}
.secondary h2,
.gallery h2 {
  padding: 15px;
}
.secondary h3 {
  padding-bottom: 20px;
}
.lastSection {
  padding-bottom: 35px;
}
.secondary {
  background: #f8f8f8;
}
.mainSectionPhoto {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.mainSectionPhoto:hover {
  transform: scale(1.1);
}
.card {
  background: white;
}

.card-header.grid {
  grid-gap: 0;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 20px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #363e41;
  text-decoration: none;
  transition: all 160ms ease-in-out;
}

.btn:hover {
  border: 1px solid grey;
}

/* END OF MAIN SECTION STYLING */

/* FOOTER STYLING */

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/iceland-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}
.autor {
  margin-top: 20px;
  opacity: 0.5;
}
/* END OF FOOTER STYLING */

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 24px;
  }

  header h3 {
    font-size: 12px;
  }

  header a {
    padding: 10px 12px;
    font-size: 10px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
